:root {
	--red: rgba(255, 0, 0, 0.231);
	--blue: rgba(0, 0, 255, 0.231);
	--green: rgba(0, 128, 0, 0.231);
	--yellow: rgba(255, 255, 0, 0.231);
	--orange: rgba(255, 165, 0, 0.231);
	--purple: rgba(128, 0, 128, 0.231);
	--cyan: rgba(0, 255, 255, 0.231);
	--grey: rgba(128, 128, 128, 0.231);
	--magenta: rgba(255, 0, 255, 0.231);
	--teal: rgba(0, 128, 128, 0.231);
	--olive: rgba(128, 128, 0, 0.231);
	--indigo: rgba(75, 0, 130, 0.231);
	--cb-indigo: rgba(51, 34, 136, 0.231);
	--cb-rose: rgba(204, 102, 119, 0.231);
	--cb-teal: rgba(68, 170, 153, 0.231);
	--cb-pale-grey: rgba(221,  221,221, 0.231);
	--cb-green: rgba(17, 119, 51, 0.231);
	--cb-wine: rgba(136, 34, 85, 0.231);
	--cb-cyan: rgba(136, 204, 238, 0.231);
	--cb-olive: rgba(153, 153, 51, 0.231);
	--cb-purple: rgba(170, 68, 153, 0.231);
	--cb-sand: rgba(221, 204, 119, 0.231);
}
