:root {
	--jasper: rgb(208, 83, 64);
	--sapphire: rgb(15, 82, 186);
	--chalcedony: rgb(119, 132, 184);
	--emerald: rgb(80, 200, 120);
	--sardonyx: rgb(228, 67, 63);
	--sardius: rgb(135, 33, 13);
	--chrysolite: rgb(90, 108, 32);
	--beryl: rgb(86, 233, 219);
	--topaz: rgb(255, 200, 124);
	--chrysoprasus: rgb(2, 130, 85);
	--jacinth: rgb(255, 58, 3);
	--amethyst: rgb(153, 102, 204);
	--gold: rgb(255, 215, 0);
	--blue: rgb(0, 0, 255);
	--purple: rgb(128, 0, 128);
	--scarlet: rgb(255, 36, 0);
	--linen: rgb(250, 240, 230);
	--brass: rgb(181, 166, 66);
	--silver: rgb(192, 192, 192);
	--olive: rgb(128, 128, 0);
	--onyx: rgb(15, 15, 15);
	--carbuncle: rgb(148, 50, 65);
	--ligure: rgb(38, 97, 156);
	--agate-grey: rgb(175, 177, 169);
}