/* -------------- */
/* Root variables */
/* -------------- */
:root {
	/* Preferred colours variables */
	--agate-grey: hsl(75, 5%, 68%);
	--agate-grey: #AFB1A9;
	--agate-grey: rgb(175, 177, 169);
	--alizarin-crimson: hsl(16, 100%, 15%);
	--alizarin-crimson: #4E1500;
	--alizarin-crimson: rgb(77, 20, 0);
	--amethyst: hsl(270, 50%, 60%);
	--amethyst: #9966CC;
	--amethyst: rgb(153, 102, 204);
	--aqua-blue: hsl(180, 100%, 52%);
	--aqua-blue: #0AFFFF;
	--aqua-blue: rgb(10, 255, 255);
	--beige: hsl(60, 56%, 91%);
	--beige: #F5F5DC;
	--beige: rgb(245, 245, 219);
	--beryl: hsl(174, 77%, 63%);
	--beryl: #56E9DB;
	--beryl: rgb(88, 233, 219);
	--blue: hsl(240, 100%, 50%);
	--blue: #0000FF;
	--blue: rgb(0, 0, 255);
	--brass: hsl(52, 47%, 48%);
	--brass: #B5A642;
	--brass: rgb(180, 165, 65);
	--bright-red: hsl(0, 100%, 43%);
	--bright-red: #DB0000;
	--bright-red: rgb(219, 0, 0);
	--bronze: hsl(30, 61%, 50%);
	--bronze: #CD7F32;
	--bronze: rgb(205, 128, 50);
	--butter: hsl(60, 100%, 91%);
	--butter: #FFFFD2;
	--butter: rgb(255, 255, 209);
	--carbuncle: hsl(351, 49%, 39%);
	--carbuncle: #943241;
	--carbuncle: rgb(148, 51, 65);
	--cadmium-yellow: hsl(56, 100%, 50%);
	--cadmium-yellow: #FFEC00;
	--cadmium-yellow: rgb(255, 238, 0);
	--chalcedony: hsl(228, 31%, 59%);
	--chalcedony: #7784B8;
	--chalcedony: rgb(118, 131, 183);
	--charcoal: hsl(210, 35%, 9%);
	--charcoal: #101820;
	--charcoal: rgb(15, 23, 31);
	--chrysolite: hsl(74, 54%, 27%);
	--chrysolite: #5A6C20;
	--chrysolite: rgb(89, 106, 32);
	--chrysoprasus: hsl(159, 97%, 26%);
	--chrysoprasus: #028255;
	--chrysoprasus: rgb(2, 131, 86);
	--cocoa-brown: hsl(17, 13%, 10%);
	--cocoa-brown: #1E1917;
	--cocoa-brown: rgb(29, 24, 22);
	--darkblue: hsl(240, 100%, 27%);
	--darkblue: #00008B;
	--darkblue: rgb(0, 0, 138);
	--dark-sienna: hsl(14, 51%, 25%);
	--dark-sienna: #5F2E1F;
	--dark-sienna: rgb(96, 46, 31);
	--darkslategrey: hsl(180, 25%, 25%);
	--darkslategrey: #2F4F4F;
	--darkslategrey: rgb(48, 80, 80);
	--dimgrey: hsl(0, 0%, 41%);
	--dimgrey: #696969;
	--dimgrey: rgb(105, 105, 105);
	--dual-theme-grey: hsl(0, 0%, 47%);
	--dual-theme-grey: #777777;
	--dual-theme-grey: rgb(120, 120, 120);
	--ebony: hsl(16, 10%, 21%);
	--ebony: #3C3431;
	--ebony: rgb(59, 51, 48);
	--emerald-variant: hsl(151, 100%, 21%);
	--emerald-variant: #006B37;
	--emerald-variant: rgb(0, 107, 55);
	--emerald: hsl(140,52%,55%);
	--emerald: #50C878;
	--emerald: rgb(81, 200, 120);
	--gold: hsl(51, 100%, 50%);
	--gold: #FFD700;
	--gold: rgb(255, 217, 0);
	--green: hsl(120, 100%, 50%);
	--green: #00FF00;
	--green: rgb(0, 255, 0);
	--grey: hsl(0, 0%, 50%);
	--grey: #808080;
	--grey: rgb(128, 128, 128);
	--hotpink: hsl(330, 100%, 71%);
	--hotpink: #FF69B4;
	--hotpink: rgb(255, 107, 181);
	--indian-yellow: hsl(43, 100%, 50%);
	--indian-yellow: #FFB800;
	--indian-yellow: rgb(255, 183, 0);
	--indigo: hsl(275, 100%, 25%);
	--indigo: #4B0082;
	--indigo: rgb(74, 0, 128);
	--ivory: hsl(60, 100%, 97%);
	--ivory: #FFFFF0;
	--ivory: rgb(255, 255, 240);
	--jacinth: hsl(13, 100%, 51%);
	--jacinth: #FF3A03;
	--jacinth: rgb(255, 59, 5);
	--jasper-modern: hsl(359, 66%, 54%);
	--jasper-modern: #D73B3E;
	--jasper-modern: rgb(215, 60, 63);
	--jasper: hsl(8, 61%, 53%);
	--jasper: #D05340;
	--jasper: rgb(208, 82, 62);
	--light-olive: hsl(63, 33%, 86%);
	--light-olive: #E7E8D1;
	--light-olive: rgb(230, 231, 208);
	--ligure: hsl(210, 61%, 38%);
	--ligure: #26619C;
	--ligure: rgb(38, 97, 156);
	--linen: hsl(31, 68%, 94%);
	--linen: #FAF0E6;
	--linen: rgb(250, 240, 229);
	--midnight-black: hsl(0, 0%, 0%);
	--midnight-black: #000000;
	--midnight-black: rgb(0, 0, 0);
	--midnightblue: hsl(240, 64%, 27%);
	--midnightblue: #191970;
	--midnightblue: rgb(25, 25, 113);
	--navy: hsl(240, 100%, 25%);
	--navy: #000080;
	--navy: rgb(0, 0, 128);
	--off-white-1: hsl(0, 0%, 97%);
	--off-white-1: #F7F7F7;
	--off-white-1: rgb(247, 247, 247);
	--off-white-2: hsl(0, 0%, 98%);
	--off-white-2: #FAFAFA;
	--off-white-2: rgb(250, 250, 250);
	--off-white-3: hsl(0, 0%, 95%);
	--off-white-3: #F2F2F2;
	--off-white-3: rgb(242, 242, 242);
	--off-white-4: hsl(30, 8%, 95%);
	--off-white-4: #F3F2F1;
	--off-white-4: rgb(243, 242, 241);
	--off-white-5: hsl(210, 25%, 98%);
	--off-white-5: #F9FAFB;
	--off-white-5: rgb(249, 250, 251);
	--off-white-6: hsl(0, 0%, 99%);
	--off-white-6: #FCFCFC;
	--off-white-6: rgb(252, 252, 252);
	--off-white-7: hsl(0, 0%, 88%);
	--off-white-7: #E0E0E0;
	--off-white-7: rgb(224, 224, 224);
	--olive: hsl(60, 100%, 25%);
	--olive: #808000;
	--olive: rgb(128, 128, 0);
	--onyx: hsl(0, 0%, 6%);
	--onyx: #0F0F0F;
	--onyx: rgb(15, 15, 15);
	--orange: hsl(39, 100%, 50%);
	--orange: #FFA500;
	--orange: rgb(255, 166, 0);
	--pearl: hsl(42, 45%, 85%);
	--pearl: #EAE0C8;
	--pearl: rgb(234, 224, 200);
	--phthalo-blue: hsl(251, 100%, 13%);
	--phthalo-blue: #0C0040;
	--phthalo-blue: rgb(12, 0, 66);
	--phthalo-green: hsl(199, 58%, 15%);
	--phthalo-green: #102E3C;
	--phthalo-green: rgb(16, 46, 60);
	--prussian-blue: hsl(215, 94%, 14%);
	--prussian-blue: #021E44;
	--prussian-blue: rgb(2, 30, 69);
	--purple: hsl(300, 100%, 25%);
	--purple: #800080;
	--purple: rgb(128, 0, 128);
	--red: hsl(0, 100%, 50%);
	--red: #FF0000;
	--red: rgb(255, 0, 0);
	--ruby: hsl(337, 86%, 47%);
	--ruby: #E0115F;
	--ruby: rgb(223, 17, 96);
	--sap-green: hsl(129, 68%, 12%);
	--sap-green: #0A3410;
	--sap-green: rgb(10, 51, 16);
	--sapphire: hsl(216, 85%, 39%);
	--sapphire: #0F52BA;
	--sapphire: rgb(15, 83, 184);
	--sardius: hsl(10, 82%, 29%);
	--sardius: #87210D;
	--sardius: rgb(135, 34, 13);
	--sardonyx: hsl(1, 75%, 57%);
	--sardonyx: #E4433F;
	--sardonyx: rgb(228, 66, 63);
	--scarlet: hsl(8, 100%, 50%);
	--scarlet: #FF2400;
	--scarlet: rgb(255, 34, 0);
	--silver: hsl(0, 0%, 75%);
	--silver: #C0C0C0;
	--silver: rgb(191, 191, 191);
	--solarised-black: hsl(214, 88%, 24%);
	--solarised-black: #073672;
	--solarised-black: rgb(7, 54, 115);
	--solarised-blue: hsl(205, 69%, 49%);
	--solarised-blue: #268BD2;
	--solarised-blue: rgb(39, 139, 211);
	--solarised-brblack: hsl(192, 100%, 11%);
	--solarised-brblack: #002B36;
	--solarised-brblack: rgb(0, 45, 56);
	--solarised-brblue: hsl(186, 8%, 55%);
	--solarised-brblue: #839496;
	--solarised-brblue: rgb(131, 148, 149);
	--solarised-brcyan: hsl(180, 7%, 60%);
	--solarised-brcyan: #93A1A1;
	--solarised-brcyan: rgb(146, 160, 160);
	--solarised-brgreen: hsl(194, 14%, 40%);
	--solarised-brgreen: #586E75;
	--solarised-brgreen: rgb(88, 110, 116);
	--solarised-brmagenta: hsl(237, 43%, 60%);
	--solarised-brmagenta: #6C71C4;
	--solarised-brmagenta: rgb(109, 114, 197);
	--solarised-brred: hsl(18, 80%, 44%);
	--solarised-brred: #CB4B16;
	--solarised-brred: rgb(202, 76, 22);
	--solarised-brwhite: hsl(44, 87%, 94%);
	--solarised-brwhite: #FDF6E3;
	--solarised-brwhite: rgb(253, 246, 226);
	--solarised-bryellow: hsl(196, 13%, 45%);
	--solarised-bryellow: #657B83;
	--solarised-bryellow: rgb(100, 122, 130);
	--solarised-cyan: hsl(175, 59%, 40%);
	--solarised-cyan: #2AA198;
	--solarised-cyan: rgb(42, 162, 152);
	--solarised-green: hsl(68, 100%, 30%);
	--solarised-green: #859900;
	--solarised-green: rgb(133, 153, 0);
	--solarised-magenta: hsl(331, 64%, 52%);
	--solarised-magenta: #D33682;
	--solarised-magenta: rgb(211, 54, 130);
	--solarised-red: hsl(1, 71%, 52%);
	--solarised-red: #DC322F;
	--solarised-red: rgb(220, 49, 46);
	--solarised-white: hsl(46, 42%, 88%);
	--solarised-white: #EEE8D5;
	--solarised-white: rgb(237, 231, 212);
	--solarised-yellow: hsl(45, 100%, 35%);
	--solarised-yellow: #B58900;
	--solarised-yellow: rgb(179, 134, 0);
	--titanium-white: hsl(0, 0%, 100%);
	--titanium-white: #FFFFFF;
	--titanium-white: rgb(255, 255, 255);
	--topaz: hsl(35, 100%, 74%);
	--topaz: #FFC87C;
	--topaz: rgb(255, 200, 122);
	--van-dyke-brown: hsl(28, 24%, 11%);
	--van-dyke-brown: #221B15;
	--van-dyke-brown: rgb(35, 28, 21);
	--violet: hsl(300, 76%, 72%);
	--violet: #EE82EE;
	--violet: rgb(238, 129, 238);
	--white: hsl(0, 0%, 100%);
	--white: #FFFFFF;
	--white: rgb(255, 255, 255);
	--yellow: hsl(60, 100%, 50%);
	--yellow: #FFFF00;
	--yellow: rgb(255, 255, 0);
	--yellow-ochre: hsl(47, 100%, 39%);
	--yellow-ochre: #c79b00;
	--yellow-ochre: rgb(199, 156, 0);
}
